<nav class="header navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top" th:fragment="header">
    <div class="container">
        <!-- Logo Placeholder -->
        <div class="navbar-brand d-flex align-items-center col-6 col-lg-3">
            <a th:href="@{'~/'}" class="d-flex align-items-center text-decoration-none">
                <img src="/images/global/logo.png" alt="B2C DEMO" class="d-inline-block align-text-top me-2 logo-img">
                <span class="fw-bold text-black">B2C DEMO</span>
            </a>
        </div>

        <div class="mobile-action d-flex d-lg-none align-items-center gap-3">
            <a class="position-relative minicart-show action-btn" href="#minicartRight" data-bs-toggle="offcanvas"
                data-bs-target="#minicartRight" aria-controls="minicartRight">
                <i class="bi bi-cart3 fs-4"></i>
                <span
                    class="position-absolute top-25 start-100 translate-middle badge rounded-circle bg-danger cart-badge">
                    <span class="cart-count" th:text="${basketModel.itemCount}"></span>
                </span>
            </a>

            <a class="action-btn" data-bs-toggle="offcanvas" data-bs-target="#navbarNavRight"
                aria-controls="navbarNavRight">
                <i class="bi bi-list fs-4"></i>
            </a>
        </div>

        <div th:replace="~{global/header/navbarNavRight :: navbarNavRight}"></div>

        <div th:replace="~{global/header/desktopNav :: desktopNav}"></div>

        <!-- Desktop Actions -->
        <ul
            class="navbar-nav desktop-action ms-3 d-flex flex-row align-items-center d-none d-lg-flex col-lg-3 justify-content-end">
            <li class="nav-item me-3">
                <a class="nav-link action-btn logged-in-btn" th:href="@{'~/login'}" th:if="${!loggedIn}">
                    <i class="bi bi-person-circle fs-4"></i>
                </a>

                <!-- Logged-in user dropdown -->
                <div class="dropdown" th:if="${loggedIn}">
                    <a class="nav-link action-btn logged-in-btn dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="true">
                        <i class="bi bi-person-circle fs-4"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end user-dropdown-menu top-100 start-50 translate-middle-x">
                        <li>
                            <a class="dropdown-item user-dropdown-item" th:href="@{'~/account'}">
                                <i class="bi bi-person me-2"></i>
                                Account
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item user-dropdown-item" th:href="@{'~/logout'}">
                                <i class="bi bi-box-arrow-right me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link position-relative minicart-show action-btn" href="#minicartRight"
                    data-bs-toggle="offcanvas" data-bs-target="#minicartRight" aria-controls="minicartRight">
                    <i class="bi bi-cart3 fs-4"></i>
                    <span
                        class="position-absolute top-25 start-100 translate-middle badge rounded-circle bg-danger cart-badge">
                        <span class="cart-count" th:text="${basketModel.itemCount}"></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>