<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <!-- Logo Placeholder -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/images/global/b2c-icon-on-white-vector-removebg-preview.png" alt="Logo" width="40"
                    height="40" class="d-inline-block align-text-top me-2">
                <span>B2C Store</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">

                <ul class="navbar-nav mx-auto mb-2 mb-lg-0" th:if="${categories}">
                    <li class="nav-item" th:each="category : ${categories}">
                        <a class="nav-link text-dark fw-bold" th:href="@{'~/search/' + ${category.categoryId}}" th:text="${category.name}">
                            Category Name
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-3 d-flex flex-row align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle fs-4"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link position-relative" href="#">
                            <i class="bi bi-cart3 fs-4"></i>
                            <span
                                class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-danger"
                                style="font-size:0.8em;">
                                <span id="cartCount" th:text="${cartModel.itemCount}"></span>
                                <span class="visually-hidden">products in cart</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>