<div class="form-section mb-4" th:fragment="shippingMethodSelection">
    <h5 class="subsection-title">Shipping Method</h5>
    <div class="shipping-methods">
        <div class="shipping-option">
            <input type="radio" id="standard" name="shippingMethod" value="standard" class="form-check-input" checked>
            <label for="standard" class="shipping-option-label">
                <div class="shipping-info">
                    <div class="shipping-name">Standard Shipping</div>
                    <div class="shipping-delivery">5-7 business days</div>
                </div>
                <div class="shipping-cost">Free</div>
            </label>
        </div>

        <!-- <div class="shipping-option">
            <input type="radio" id="express" name="shippingMethod" value="express" class="form-check-input">
            <label for="express" class="shipping-option-label">
                <div class="shipping-info">
                    <div class="shipping-name">Express Shipping</div>
                    <div class="shipping-delivery">2-3 business days</div>
                </div>
                <div class="shipping-cost">$9.99</div>
            </label>
        </div> -->
    </div>
</div>