<div class="payment-form-card my-4" th:fragment="paymentForm">
    <form action="/submitpayment" method="POST" id="paymentForm">
        <h5 class="mb-3 fw-bold">Payment Information</h5>

        <div class="payment-method-selection">
            <h6 class="fw-bold">Select Payment Method</h6>
            <div class="d-flex gap-4">
                <div class="form-check w-auto p-0">
                    <label style="display: flex; align-items: center;">
                        <input type="radio" name="paymentMethod" value="creditCard" checked style="display: none;">
                        <img th:src="@{'~/images/payment/creditcard.jpg'}" alt="Credit Card" class="payment-method-icon"
                            style="width: 100px; height: 100px; ">
                    </label>
                </div>
                <div class="form-check w-auto p-0">
                    <label style="display: flex; align-items: center;">
                        <input type="radio" name="paymentMethod" value="paypal" style="display: none;">
                        <img th:src="@{'~/images/payment/paypal.png'}" alt="Paypal" class="payment-method-icon"
                            style="width: 100px; height: 100px; ">
                    </label>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="payment-method-details mb-4">
            <div id="paymentElement"
                th:data-create-payment-intent-url="@{'~/create-payment-intent'}"
                th:data-update-payment-intent-url="@{'~/update-payment-intent'}"
                th:data-return-url="@{'~/stripe-return'}"
                th:data-stripe-api-key="${stripeApiKey}"
            ></div>
            <div id="stripeError" class="mt-2 text-danger"></div>
            <div class="d-grid">
                <button type="button" class="btn btn-dark btn-lg stripe-submit d-none">
                    Continue
                </button>
            </div>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-dark btn-lg">Continue</button>
        </div>
    </form>
</div>